* {
    margin: 0px;
    padding: 0px;
}

body {
    /* -----> google font -----------/////////// */
    font-family: 'DM Serif Display', serif;
}


/* header full section style start-------------////  */
.headerSection {
    width: 100%;
    height: 646px;
    background-color: black;
    display: flex;
    margin: 50px 30px 80px 50px;
    padding: 10px;
    border-radius: 38px;

}

/* banner information---------------///////// */
.bannerInfo {
    color: white;
    width: 50%;
    padding: 80px;
}

.bannerTittle {
    font-size: 70px;
}

.bannerDescription {
    font-size: 16px;
}

.watchButton {
    padding: 10px 25px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: crimson;
    transition: all 3s ease-out;
}

.watchButton:hover {
    background-color: #fff;
    color: #333;
}

.fa-solid:hover {
    transform: rotate(180deg);
}

.fa-solid {
    padding: 5px;
}


/* banner images ----------///// */
.bannerImage {
    width: 50%;
}

.bannerImage>img {
    width: 80%;
    width: 501px;
    height: 613px;
    margin-top: 32px;

}

/* header full section style finish-------------////  */



/* aside section start */

.asideContainer {
    margin-left: 60px;
}

.asid-menu {
    position: absolute;
    background-color: black;
    width: 312px;
    height: 312px;
    border-radius: 10px;
}

.clickAside {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 252px;
    height: 64px;
    padding: 20px;
    font-weight: 800;

}

aside a {
    text-decoration: none;
    color: black;

}



/* UpcomeingMAtch-------------------- */
.UpcomeingMAtch {
    background-color: rgb(235, 9, 9);
}


aside button {
    border-radius: 10px;
    font-weight: 800;

}

aside button:hover {
    background-color: rgb(209, 19, 82);
}

.blog {
    background-color: red;
}

.blog {
    background-color: none;
}

/* player card-----------////// */

.playersInfoSection {
    display: flex;
    /* display: grid;
    grid-template-columns: 2, 1fr; */
    justify-content: space-between;
    margin-right: 90px;

}

/*----------------------- upcomingcard -------------------------------- */
.UpcomeingCards {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Playercards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: 50px;

}

.card {
    box-shadow: 2px 2px 2px 2px rgb(133, 106, 106);
}

.card {
    width: 250px;
    height: 342px;
}

.card>img {
    width: 100%;
}

.cardInfo {
    margin-top: 20px;
    padding: 15px;

}

.cardButton {
    width: 100px;
    height: 32px;
    border-radius: 5px;
    margin-top: 5px;
}

.fa-clock-eleven-thirty {
    color: brown;
}

.cardIcon {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ---------------upcoming card -------------- */


/* -------------view all-------------- */
.viewAll {
    text-align: center;
    margin-top: 30px;
    color: crimson;

}




/* footer-------- */

.footer {
    margin-top: 70px;
    width: 100%;
    height: 320px;
    background: #161616;
}

.footerTitle {
    text-align: center;
    /* align-items: center; */
    padding: 30px;

}

.hotijenterline {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;

}

.footerDetels {
    display: flex;
    justify-content: space-around;
    padding: 50px 120px;
    color: whitesmoke;
}

/* --------------footer icon ----------------- */
.footerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foicon {
    padding: 20px;
    margin: 5px;

}


/* ----------------larger  */
@media screen and (min-width:992px) and (max-width:1400px) {
    .viewAll {
        display: none;
    }
}

/* ------------------------responsive medium start---------------------------- */

/* medium device */

@media screen and (min-width:577px) and (max-width: 992px) {
    body {
        padding: 0px;
        margin: 0px;
    }

    .headerSection {
        width: 100%;
        height: 398px;
        background: #161616;
        padding: 10px;
        border-radius: 30px;
    }

    /* .bannerInfo {
        margin-top: 20px;
        padding: 20px;
        width: 50%;
        height: 276px;
    } */

    .bannerTittle {
        font-size: 20px;
    }

    .bannerDescription {
        font-size: 14px;
    }

    .bannerImage {
        Width: 50%;
    }

    .bannerImage img {
        width: 100%;
        height: 366px;

    }

    .asid-menu {
        display: flex;
        padding: 0px;
        width: 100%;
        margin: 0px;
        height: 100px;
    }


    .Playercards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 150px;
    }

    .footerDetels {
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
    }

    .viewAll {
        display: block;
    }
}

/* ------------------------responsive medium finished---------------------------- */


/* --------------------------mobailresponsive----------------------- */

/* ------------------------responsive small finished---------------------------- */
@media screen and (max-width: 576px) {
    .headerSection {
        display: block;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0px;
        padding: 0px;
        border-radius: 10px;
        margin-bottom: 20px;

    }

    .bannerInfo {
        margin: 0px;
        padding: 20px;
        width: 50%;
        border-radius: 0px;
    }

    .bannerTittle {
        font-size: 60px;

    }

    .bannerImage>img {
        display: none;
    }

    /* .asideContainer {
        padding: 0px;
    } */

    .asid-menu {
        display: flex;
        padding: 0px;
        width: 100%;
        margin-bottom: 0px;
        height: 100px;
    }




    .Playercards {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 150px;
    }

    .viewAll {
        display: none;
    }

    .footerDetels {
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* align-items: center; */
        text-align: center;
    }
}

/* ------------------------responsive smalll finished-----------------------------