* {
    margin: 0px;
    padding: 0px;
}

body {
    /* -----> google font -----------/////////// */
    font-family: 'DM Serif Display', serif;
}


/* header full section style start-------------////  */
.headerSection {
    width: 1280px;
    height: 646px;
    background-color: black;
    display: flex;
    margin: 50px 30px 80px 50px;
    border-radius: 38px;

}

/* banner information---------------///////// */
.bannerInfo {
    color: white;
    width: 50%;
    padding: 80px;
}

.bannerTittle {
    font-size: 70px;
}

.bannerDescription {
    font-size: 16px;
}

.watchButton {
    padding: 10px 25px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: crimson;
    transition: all 3s ease-out;
}

.watchButton:hover {
    background-color: #fff;
    color: #333;
}

.fa-solid:hover {
    transform: rotate(180deg);
}

.fa-solid {
    padding: 5px;
}


/* banner images ----------///// */
.bannerImage {
    width: 50%;
}

.bannerImage>img {
    width: 80%;
    width: 501px;
    height: 613px;
    margin-top: 32px;

}

/* header full section style finish-------------////  */



/* aside section start */

.asideContainer {
    margin-left: 60px;
}

.asid-menu {
    position: absolute;
    background-color: black;
    width: 312px;
    height: 312px;
    border-radius: 10px;
}

.clickAside {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 252px;
    height: 64px;
    padding: 20px;
    font-weight: 800;

}

aside a {
    text-decoration: none;
    color: black;

}

aside button {
    border-radius: 10px;
    font-weight: 800;

}

aside button:hover {
    background-color: rgb(209, 19, 82);
}

.blog {
    background-color: red;
}

/* player card-----------////// */

.playersInfoSection {
    display: flex;
    /* display: grid;
    grid-template-columns: 2, 1fr; */
    justify-content: space-between;
    margin-right: 90px;

}

.Playercards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: 50px;

}

.card {
    box-shadow: 2px 2px 2px 2px rgb(133, 106, 106);
}

.card {
    width: 250px;
    height: 342px;
}

.card>img {
    width: 100%;
}

.cardInfo {
    margin-top: 20px;
    padding: 15px;

}

.cardButton {
    width: 100px;
    height: 32px;
    border-radius: 5px;
    margin-top: 5px;
}

.fa-clock-eleven-thirty {
    color: brown;
}

.cardIcon {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* -------------view all-------------- */
.viewAll {
    text-align: center;
    visibility: hidden;
    margin-top: 30px;
    color: crimson;

}




/* footer-------- */

.footer {
    margin-top: 70px;
    width: 100%;
    height: 300px;
    background: #161616;
}

.footerTitle {
    text-align: center;
    /* align-items: center; */
    padding: 30px;

}

.hotijenterline {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;

}

.footerDetels {
    display: flex;
    justify-content: space-around;
    padding: 50px 120px;
    color: whitesmoke;
}