* {
    margin: 0px;
    padding: 0px;
}

body {
    /* -----> google font -----------/////////// */
    font-family: 'DM Serif Display', serif;
    font-family: 'Poppins', sans-serif;

}


/* header full section style start-------------////  */
.headerSection {
    width: 1280px;
    height: 646px;
    background-color: black;
    display: flex;
    margin: 50px 30px 100px 50px;
    border-radius: 38px;

}

/* banner information---------------///////// */
.bannerInfo {
    color: white;
    width: 50%;
    padding: 80px;
}

.bannerTittle {
    font-size: 70px;
}

.bannerDescription {
    font-size: 16px;
}

.watchButton {
    padding: 10px 25px;
    border-radius: 10px;
    margin-top: 20px;
}



/* banner images ----------///// */
.bannerImage {
    width: 50%;
}

.bannerImage>img {
    width: 80%;
    width: 501px;
    height: 613px;
    margin-top: 32px;

}

/* header full section style finish-------------////  */



/* palyer card section start */

.asid-menu {
    background-color: black;
    width: 312px;
    height: 312px;
}
.click